.footerContainer {
    background-color: black;
    color: white;
    padding: 2rem 4rem;
}

.signIn {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.emailBtn {
    width: 60%;
    color: grey;
    background-color: black;
    border: 1px solid grey;
    border-radius: 5px;
    margin-right: 0.3rem;
    text-align: left;
    font-size: 0.9rem;
    padding-left: 1rem;
}

.getBtn {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    gap: 0.8rem;
    background-color: red;
    border-radius: 5px;
    width: 9rem;
    border: 1px solid red;
    font-size: 1.2rem;
    font-weight: 700;
    padding-left: 1rem;
}

.getBtn:hover {
    cursor: pointer;
    background-color: rgb(193, 17, 25);
    border: 1px solid rgb(193, 17, 25);
}

.footerQuest {
    margin: 2rem 0 1rem 2rem;
}

.footerQuest a {
    color: grey;
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.footerList {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.footerList div {
    margin: 2rem 0 2rem 0;
}

.languageChange {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    width: 7rem;
    height: 1rem;
    padding: 0.5rem 0.4rem 0.3rem 0.4rem;
    border: 1px solid grey;
    border-radius: 5px;
    margin-left: 2rem;
}

.lastLastLast {
    color: grey;
    margin: 2rem 0 0 2rem;
}